<form #f="ngForm" (ngSubmit)="submit()" class='pt-3 pb-3 border shadow container'>
    <div *ngIf="register; else elseBlock">
        <h3 class="text-center">Register</h3>
        <hr>
        <div class="input-group mb-3  mx-auto" >
            <input  name="name" ngModel required id="name" type="text" class="form-control" placeholder="Name"/>
        </div>
        <div class="input-group mb-3  mx-auto" id="email">
            <input name="email" #email="ngModel" required email ngModel type="text" class="form-control w-100" placeholder="Email"/>
            <label *ngIf="email.touched && !email.valid " class="form-label text-danger">
                Please enter a valid email.
            </label>
        </div>
        <div class="input-group mb-3  mx-auto" id="password">
            <input name="password" #password="ngModel" ngModel type="text" class="form-control w-100" placeholder="Password"/>
            <label  *ngIf="password.touched && password.pristine " class="form-label text-danger">
                Please enter a password.
            </label>
        </div>
        <div class="input-group mb-3  mx-auto" id="role">
            <input name="role" ngModel type="text" class="form-control" placeholder="Role"/>
        </div>
    </div>
    <ng-template #elseBlock>
        <h3 class="text-center">Login</h3>
        <hr>
        <div class="input-group mb-3  mx-auto" id="email">
            <input name="email" ngModel type="text" class="form-control" placeholder="Email"/>
        </div>
        <div class="input-group mb-3  mx-auto" id="password">
            <input name="password" ngModel type="text" class="form-control" placeholder="Password"/>
        </div>
        </ng-template>
    <div class="d-flex flex-row-reverse fw-light">
        <a (click)="switchRegister()" class="ml-2  mb-5  pe-auto">Sign In!</a> Already a Member? 
    </div>
    <div class="d-flex flex-row-reverse">
        <button type="submit"  class="btn btn-primary">{{register ? 'Register':'Login'}}</button>
    </div>
</form>